<!DOCTYPE html>
<html>
<head>
  <title>Bonsai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= yield %>

        <div id="nav">
            <button name="feed" onclick="return homePage()">feed</button><button name="logout" onclick="return logOut()">logout</button>
            
        </div>
        <div id="image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT07vGtArybOqBuobhb8OWQLgmJl5QnTFyDQl_bLZ7wug_OynLl">
        </div>

</body>
</html>
